// Font Family
$font-family: "Open Sans",sans-serif;

// Font Size
$font-size-base: 16px;
$font-size-h1: 	3.583rem;
$font-size-h2: 2.986rem;
$font-size-h3: 2.074rem;
$font-size-h4: 1.44rem;
$font-size-h5: 1.3rem;
$font-size-subheading: 1.44rem;

// Font Weight
$font-weight-h1: 700;
$font-weight-h2: 700;
$font-weight-h3: 600;
$font-weight-h4: 700;
$font-weight-h5: 700;
$font-weight-btn: 600;