.navbar {
    background-color: transparent;
    color: $gray-500;
    padding: 0vw 5vw;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    transition: all .3s;
    &-scrolled{
        background-color: white;
        padding: 0vw 5vw;
        box-shadow: 0px 0px 15px rgba($color: $blue-500, $alpha: 0.3);
        transition: all .3s;
    }
    &-flex {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        li {
            display: inline-block;
            margin: 0 1rem 0 0;
            padding: .5rem 1rem;
            cursor: pointer;
            border-radius: 1rem;
            &:hover{
                background-color: $orange-300;
                border-radius: 1rem;
                a{
                    color: white;
                }
            }
        }
        li:nth-last-child(1) {
            display: inline-block;
            margin: 0 0 0 0;
        }
    }
    &-toggle {
        display: none;
    }
    .active {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .navbar {
        .main-nav{
            width: 100%;
            position: fixed;
            top: 46px;
            left: 0;
            margin: auto;
            padding: 5vh 0;
            background-color: white;
        }
        &-flex {
            display: block;
            ul {
                display: none;
                li {
                    padding: 5vh 0;
                    font-size: $font-size-h4;
                    display: block;
                    text-align: center;
                    margin: auto;
                }
                li:nth-last-child(1) {
                    display: block;
                    margin: auto;
                }
            }
        }
        &-toggle {
            display: block;
            position: absolute;
            right: 20px;
            cursor: pointer; 
            color: $orange-300;
            font-size: 2rem;
        }
    }
}
.active-link{
    background-color: $orange-300;
    border-radius: 1rem;
    a{
        color: white;
    }
}