.start-now{
    .steps{
        display: block;
    }
    h2{
        margin-bottom: 1rem;
    }
    h4{
        color: $orange-300;
        margin-bottom: 3rem;
    }
    form {
        grid-column: 2 / 4;
        border-radius: 0.5rem;
        background-color: white;
        padding: 2rem;
        box-shadow: 10px 10px 50px rgba($color: $blue-500, $alpha: 0.3);
    }
    @media screen and (min-width: 300px) {
        .steps{
            display: none;
        }
        form{
            grid-column: 1;
        }
    }
    @media screen and (min-width: 768px) {
        .steps{
            display: none;
        }
        form{
            grid-column: 1;
        }
    }
    @media screen and (min-width: 992px) {
        .steps{
            display: block;
        }
        form{
            grid-column: 2 / 4;
        }
    }
    @media screen and (min-width: 1200px) {
        .steps{
            display: block;
        }
        form{
            grid-column: 2 / 4;
        }
    }
    @media screen and (min-width: 1600px) {
        .steps{
            display: block;
        }
        form{
            grid-column: 2 / 4;
        }
    }
}