.why-biq {
  background-color: $gray-bg;
  background-image: url("./../img/why-biq-bg.webp");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 52%;
  h2 {
    grid-column: 3;
    justify-self: left;
  }
  img {
    grid-column: 2;
    justify-self: right;
  }
  &-text {
    grid-column: 3;
    h4:nth-child(even) {
      margin-top: 0.5rem;
      color: $orange-300;
    }
  }
  p {
    margin-bottom: 4rem;
  }
  &-btn {
    grid-column: 3;
  }
  @media screen and (min-width: 300px) {
    background-image: none;
  }
  @media screen and (min-width: 768px) {
    background-image: none;
  }
  @media screen and (min-width: 992px) {
    background-image: url("./../img/why-biq-bg.webp");
  }
  @media screen and (min-width: 1200px) {
    background-image: url("./../img/why-biq-bg.webp");
  }
  @media screen and (min-width: 1600px) {
    background-image: url("./../img/why-biq-bg.webp");
  }
}
