.whatever{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background-color: white;
    display: inline-block;
    box-shadow: 0px 0px 25px rgba($color: $blue-500, $alpha: 0.3);
    border-radius: .5rem;
    cursor: pointer;
    svg{
        padding: 1rem 1rem .5rem 1rem;
        vertical-align: middle;
    }
    span{
        display: block;
        padding: .5rem 0;
    }
}

.checkboxes input[type=radio]{
    display: none;
}

.checkboxes input[type=radio]:checked + .whatever{
    border: 3px solid $blue-200;
}
.tab{
    h5{
        margin: 2rem 0;
    }
}
.checkboxes-standard{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    input[type="radio"]{
        width: auto;
        margin-right: .5rem;
    }
}
.investment{
    input{
        width: 50%;
        margin: 0 .5rem;
    }
}