body {
    font-size: $font-size-base;
    font-family: $font-family;
    color: $gray-500;
    a {
        color: $gray-400;
        text-decoration: none;
    }
    p{
        line-height: 1.8rem;
    }
    h1 {
        font-size: $font-size-h1;
        margin: 0;
    }
    h2 {
        font-size: $font-size-h2;
        margin: 3.5rem 0;
    }
    h3 {
        font-size: $font-size-h3;
        font-weight: $font-weight-h3;
        margin: 2rem 0;
    }
    h4 {
        font-size: $font-size-h4;
        margin: 0;
    }
    h5 {
        font-size: $font-size-h5;
        margin: 0;
    }
}